doctype html
html(ng-app='app', device-detector)
	head
		meta(charset='utf-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='msapplication-tap-highlight', content='no')
		//- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323
		meta(
			name='viewport'
			content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height'
		)
		link(rel='stylesheet', href='css/vendor.css')
		link(rel='stylesheet', href='css/app.css')
		script(type='text/javascript', src='cordova.js')
		script(type='text/javascript', src='js/vendor.js')
		script(type='text/javascript', src='js/templates.js')
		script(type='text/javascript', src='js/app.js')
		title ctrlpkw

	mixin subview(name)
		.subview(ng-switch-when=name, flex, layout='column')
			.content(ng-include="'/templates/"+name+".html'", flex, layout='column')

	body(ng-controller='MainCtrl as mainCtrl', fill, layout='column')
		.toolbar
			button.button.back(ng-if='history.hasPrevious()', ng-click='history.back()')
				i.icon-arrow-back
			h2.title {{page.title}}
			a.button(ng-if="subview != 'votings'", ng-href='#/votings')
				i.icon-event
			button.button(ng-if="subview == 'voting'", ng-click='mainCtrl.centerMap()')
				i.icon-my-location
			a.button(ng-if="subview == 'voting'", ng-href='#/wards')
				i.icon-list

		.view-switch(ng-switch='subview', flex, layout='column')
			+subview('votings')
			+subview('voting')
			+subview('wards')
			+subview('ward')
