doctype html
html(ng-app='app', device-detector)
	head
		meta(charset='utf-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='msapplication-tap-highlight', content='no')
		//- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323
		meta(
			name='viewport'
			content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi'
		)
		link(rel='stylesheet', href='css/vendor.css')
		link(rel='stylesheet', href='css/app.css')
		script(type='text/javascript', src='cordova.js')
		script(type='text/javascript', src='js/vendor.js')
		script(type='text/javascript', src='js/templates.js')
		script(type='text/javascript', src='js/app.js')
		title ctrlpkw

	body(ng-controller='MainCtrl as ctrl', layout="column", layout-fill)
		md-toolbar
			.md-toolbar-tools
				h3: span My App Title
		md-tabs(md-selected='tabs.selectedIndex')
			md-tab test1
			md-tab test2
		.tabs-content(
			flex
			layout="row"
			ng-switch='tabs.selectedIndex')
			.tab-content(
				flex='100'
				layout="column"
				layout-fill
				ng-switch-when='0')
				.map-wrapper(flex, layout="column")
					map(flex, markers='ctrl.markers', center-fn='ctrl.centerMap')
				button(ng-click='ctrl.center()') center
				md-content(layout='column').md-padding
					md-slider(flex, min='1', max='25', ng-model='ctrl.count', ng-click='ctrl.getWards()')
		//header
		//	a(ng-href='#/home') test
		//	a(ng-href='#/form') test2
		//	a(ng-href='#/map') test3
		//div(ng-switch='subview')
		//	div(ng-switch-when='home')
		//	div(ng-switch-when='form')
		//	div(ng-switch-when='map')
		//footer
		//div(role="tabpanel"
			md-swipe-left="next()"
			md-swipe-right="previous()"
			ng-switch-when='0') aaaaaa
		//div(role="tabpanel"
			md-swipe-left="next()"
			md-swipe-right="previous()"
			ng-switch-when='1')
