doctype html
html(ng-app='app', device-detector)
	head
		meta(charset='utf-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='msapplication-tap-highlight', content='no')
		//- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323
		meta(
			name='viewport'
			content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi'
		)
		link(rel='stylesheet', href='css/vendor.css')
		link(rel='stylesheet', href='css/app.css')
		script(type='text/javascript', src='cordova.js')
		script(type='text/javascript', src='js/vendor.js')
		script(type='text/javascript', src='js/templates.js')
		script(type='text/javascript', src='js/app.js')
		title ctrlpkw

	body(ng-controller='MainCtrl as ctrl', layout="column", layout-fill)
		md-toolbar
			.md-toolbar-tools
				h3: span ctrlPkw
				//span(flex)
				//md-button.md-tools(): i.icon-3d-rotation
		.map-wrapper(flex, layout="column")
			img.mapImage(ng-if='ctrl.image.url', ng-src='{{ctrl.image.url}}', style="margin-top: -{{ctrl.image.height/2}}px; top: 50%")
			map(
				flex, markers='ctrl.markers', center-fn='ctrl.centerMap'
				masked='ctrl.masked', image='ctrl.image'
				get-map-center-fn='ctrl.getCenter')
			md-button.md-fab-bottom-left.md-fab.md-mini(ng-click='ctrl.center()')
				i.icon-location-searching
			//.buttons(layout='row', layout-align="start center", layout-margin)
		//md-content(layout='column').md-padding
			div w promieniu {{ctrl.radius}}m
			md-slider(flex, min='100', max='4000', ng-model='ctrl.radius')
			div co najmniej {{ctrl.count}}
			md-slider(flex, min='0', max='30', ng-model='ctrl.count')
		md-content(layout='column').md-padding
			md-button(ng-click='ctrl.getWards()'): i.icon-room

		//header
		//	a(ng-href='#/home') test
		//	a(ng-href='#/form') test2
		//	a(ng-href='#/map') test3
		//div(ng-switch='subview')
		//	div(ng-switch-when='home')
		//	div(ng-switch-when='form')
		//	div(ng-switch-when='map')
		//footer
		//div(role="tabpanel"
			md-swipe-left="next()"
			md-swipe-right="previous()"
			ng-switch-when='0') aaaaaa
		//div(role="tabpanel"
			md-swipe-left="next()"
			md-swipe-right="previous()"
			ng-switch-when='1')
