md-content(flex, layout="column", ng-controller='VotingController as ctrl')
	md-progress-linear.md-accent(ng-if='ctrl.data.wardsLoading', md-mode="indeterminate").fixed-top
	.map-wrapper(flex, layout="column")
		//img.mapImage(ng-if='ctrl.image.url', ng-src='{{ctrl.image.url}}', style="margin-top: -{{ctrl.image.height/2}}px; top: 50%")
		map(
			flex, markers='ctrl.data.markers'
			masked='ctrl.mapMasked', image='ctrl.mapImage'
			on-init='ctrl.init'
			center-map-fn='mainCtrl.centerMap'
			get-map-center-fn='ctrl.getMapCenter'
			on-marker-click='ctrl.onMarkerClick'
		)
		md-button.md-fab-bottom-right.md-fab(ng-click='ctrl.getWards()')
			i.icon-find-replace